@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@import "@radix-ui/colors/mauve.css";

html {
  font-size: 15px;
}

body {
  font-family: "Readex Pro", -apple-system, "Helvetica", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  margin: 3.25rem auto;
  background-color: #fff;
}
